<div
  *ngIf="vm$ | async as vm"
  class="app"
  [ngClass]="{
    'app--online': vm.isOnline,
    'app--offline': !vm.isOnline
  }"
>
  <div style="width: 300px; display: flex; flex-direction: column">
    <h1>{{ vm.isOnline ? "Online" : "Offline" }}</h1>

    <div>
      <button (click)="fetchUsers()">Fetch Users</button>
    </div>

    <div *ngIf="vm.hasPendingRequests && vm.isOnline">
      <button (click)="sync()">Sync Data</button>
    </div>

    <div>
      <input #name placeholder="New User" />
      <button (click)="addUser()">Add User</button>
    </div>

    <div *ngIf="vm.users?.length" style="min-height: 200px; overflow: auto">
      <h1>Users!</h1>
      <ul>
        <li
          *ngFor="let user of vm.users"
          style="width: 100%; display: flex; justify-content: space-between"
        >
          {{ user.name }}
          <span (click)="deleteUser(user.id)" style="cursor: pointer">X</span>
        </li>
      </ul>
    </div>

    <div
      *ngIf="vm.pendingRequests?.length"
      style="min-height: 200px; overflow: auto"
    >
      <h1>Pending Requests</h1>
      <ul>
        <li
          *ngFor="let request of vm.pendingRequests"
          style="
            background-color: crimson;
            color: white;
            margin-bottom: 15px;
            padding: 5px;
          "
        >
          <div>
            {{ request.httpMethod }}
          </div>
          <div *ngIf="request.httpMethod !== 'POST'">ID: {{ request.id }}</div>
          <div *ngIf="request.httpMethod !== 'DELETE'">
            Data: {{ request.body | json }}
          </div>
          <div>Time: {{ request.timestamp | date: "medium" }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
