<div
  *ngIf="vm$ | async as vm"
  class="app"
  [ngClass]="{
    'app--online': vm.isOnline,
    'app--offline': !vm.isOnline
  }"
>
  <div style="width: 300px; display: flex; flex-direction: column">
    <h1>{{ vm.isOnline ? "Online" : "Offline" }}</h1>

    <div *ngIf="vm.hasPendingRequests && vm.isOnline">
      <button (click)="sync()">Sync Data</button>
    </div>

    <div>
      <input #name placeholder="New User" />
      <button (click)="addUser()">Add User</button>
    </div>

    <app-users
      [users]="vm.users"
      [isOnline]="vm.isOnline"
      [hasPendingRequests]="vm.hasPendingRequests"
      (sync)="sync()"
      (fetchUsers)="fetchUsers()"
      (fetchFromDb)="fetchFromDb()"
      (deleteUser)="deleteUser($event)"
    ></app-users>

    <app-pending-requests
      [pendingRequests]="vm.pendingRequests"
    ></app-pending-requests>
  </div>
</div>
