<div
  class="app"
  [ngClass]="{
    'app--online': isOnline$ | async,
    'app--offline': !(isOnline$ | async)
  }"
>
  <div style="margin-top: 30px">
    <h1>{{ (isOnline$ | async) ? "Online" : "Offline" }}</h1>

    <br />

    <div>
      <button (click)="fetchUsers()">Fetch Users</button>
    </div>

    <br />

    <!-- <button (click)="updateUser()">Update</button> -->

    <div>
      <button (click)="sync()">Sync Data</button>
    </div>

    <br />

    <div>
      <input #name placeholder="New User" />
      <button (click)="addUser()">Add User</button>
    </div>

    <br />

    <div *ngIf="(users$ | async)?.length">
      <h1>Users!</h1>
      <ul>
        <li *ngFor="let user of users$ | async">
          {{ user.id }}: {{ user.name }}
          <span (click)="deleteUser(user.id)" style="cursor: pointer">X</span>
        </li>
      </ul>
    </div>
  </div>
</div>
